{{> "slots/_doctype"}}
<html>
  <head>
    {{> "slots/_charset"}}
    {{> "slots/_meta"}}
    <title>Vue Router</title>
    <link rel="stylesheet" href="//www.source.com.cn/ymobile/prd/styles/test/vuerouter.css" />
    {{> "slots/_head_end"}}
  </head>
  <body>
    <div id="page"></div>
    <script src="//common.qunarzz.com/lib/prd/vue/2.5.16/vue.runtime.min.js"></script>
    <script src="//common.qunarzz.com/lib/prd/vuex/3.0.1/vuex.min.js"></script>
    <script src="//common.qunarzz.com/lib/prd/vue-router/3.0.1/vue-router.min.js"></script>
    <script src="//www.source.com.cn/ymobile/prd/scripts/test/vuerouter.js"></script> 
    {{> "slots/_body_end"}}
  </body>
</html>